@mixin PuepleGradient {
  background: $Purple;
  background: linear-gradient(145deg, rgba(90,0,149,1) 0%, $Purple 50%, rgba(185,79,255,1) 100%);
}

@mixin PuepleTextGradient {
  background: $Purple;
  background: linear-gradient(145deg, rgba(90,0,149,1) 0%, $Purple 50%, rgba(185,79,255,1) 100%);
  color: transparent;
  background-clip: text;
}